fixtures/routing/routcache_torus_8x8x16_twisted.json filter=lfs diff=lfs merge=lfs -text
fixtures/nonragged/schedule_16x8x8_loaded_orbit_greedy_full_lpt_tail_asc.json filter=lfs diff=lfs merge=lfs -text
fixtures/nonragged/cns_schedules/schedule_orbitfull_8x8x16_twisted.json filter=lfs diff=lfs merge=lfs -text
